# Python에서 MySQL 사용하기

In [1]:
import json
import pymysql

In [2]:
with open('mysql.json', 'r') as file:
    config_str = file.read()
config_str

'{\n    "host": "localhost",\n    "user": "hkuser",\n    "password": "hkpass",\n    "database": "world",\n    "port": 3306\n}'

In [3]:
# JSON parsing
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

- connection 객체 만들기

In [4]:
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port'] 
)

In [5]:
cur = conn.cursor()

In [6]:
sql = 'select * from team;'
cur.execute(sql)

10

In [7]:
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 26, '이민호', '투수', 70000000)
(2, 19, '고우석', '투수', 180000000)
(3, 18, '정우영', '투수', 180000000)
(4, 27, '유강남', '포수', 300000000)
(5, 42, '박재욱', '포수', 38000000)
(6, 10, '오지환', '내야수', 600000000)
(7, 35, '문보경', '내야수', 30000000)
(8, 16, '김민성', '내야수', 400000000)
(9, 22, '김현수', '외야수', 1000000000)
(10, 55, '채은성', '외야수', 300000000)

- Resource 반환

In [8]:
cur.close()
conn.close()